ul{list-style: none;}

h1{
  font-family:Montserrat;
  font-size: 30px;
  flex-wrap: wrap;
}

h2{
  font-family:Oswald;
  flex-wrap: wrap;
}

h3{
  font-family:Nunito;
  flex-wrap: wrap;
}

p{
  font-family: 'Hind', sans-serif;
}

header{
  border-radius: 10px;

  flex-wrap: wrap;

}

body{
  flex-wrap: wrap;
}

p{
  border-radius: 10px;
  flex-wrap: wrap;
}

footer{

  border-radius: 10px;
  flex-wrap: wrap;
}

.edubutton{
  padding: 5;
  border: none;
  background: none;
  border-radius: 10px;
  flex-wrap: wrap;
}

textarea{
  width: 478px;
  height: 100px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.stext{
  border-radius: 10px;
  flex-wrap: wrap;
}

.top-left{
  font-family: 'Comfortaa';
}